*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: verdana;
}

body{
    background-color: #ccc;
}

#header{
    background-color: #9f9;
    text-align: center;
    padding:3%;
    font-size: 30px;
}

#login-card{
    padding:1%;
    background-color: white;
    margin:2% 25%;
    text-align: center;
}

#login-card-title{
    border-bottom: 3px solid black;
    padding:2%;
    border-radius: 5px;
}

button{
    background-color: #ddd;
    color:white;
    font-weight: 800;
    padding:1%;
    border:3px solid #ddd;
    margin:0% 5%;
    font-size: 20px;
    border-radius: 10px;
}

button:hover{
    background-color: white;
    color:#ddd;
}

input{
    font-size: 20px;
    padding:1%;
}

#input-card{
    font-size: 20px;
    margin:1%;
    text-align: left;
}
#form-one , #form-two{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#but-three{
    background-color: #2962ff;
    color:white;
    font-size: 20px;
    font-weight: 800;
    border:2px solid #2962ff;
    padding:5%;
}

#but-three:hover{
    background-color: white;
    color:#2962ff;
}